<div class="form-row">
    <div class="form-group col-md-2"></div>
    <div class="form-group col-md-4">
        <p class="f1">Baixe já o nosso APP</p>
        <p class="f2">E faça o seu pedido de maneira<br>
            fácil e rápida</p>
        <p class="f3">Nele você consegue realizar seus pedidos de forma personalizada 
            <br> e garante pontos de vantagens para trocar por produtos.</p>
    </div>
    <div class="form-group col-md-2">
        <a href="https://www.apple.com/br/retail/" target="_blank"><img class="google" src="../../../assets/pizza-prime-app-google.png" alt=""></a><br>
        <a href="https://play.google.com/store/apps?hl=pt_BR" target="_blank"><img class="apple" src="../../../assets/pizza-prime-app-apple.png" alt=""></a>            
    </div>
    <div id="celular" class="form-group col-md-2">
        <img class="celular" src="../../../assets/hands-app.png" alt="Celular nas mãos">            
    </div>
    <div class="form-group col-md-2"></div>
</div>

<!--
<table class="banner">
    <tr>
        <td>
            <p class="f1">Baixe já o nosso APP</p>
            <p class="f2">E faça o seu pedido de maneira<br>
                fácil e rápida</p>
            <p class="f3">Nele você consegue realizar seus pedidos de forma personalizada 
                <br> e garante pontos de vantagens para trocar por produtos.</p>
        </td>
        <td class="donwload">
            <a href="https://www.apple.com/br/retail/" target="_blank"><img class="google" src="../../../assets/pizza-prime-app-google.png" alt=""></a><br>
            <a href="https://play.google.com/store/apps?hl=pt_BR" target="_blank"><img class="apple" src="../../../assets/pizza-prime-app-apple.png" alt=""></a>
        </td>
        <td class="baixe">
            <img class="celular" src="../../../assets/hands-app.png" alt="Celular nas mãos">            
        </td>
    </tr>    
</table>
-->