.form-group {
    align-self: center;
    align-items: center;
}

.form-row {
    width: 100%;
    align-items: center;
    background-color: white;
    padding-bottom: 0px;
}

.f1 {
    font-family: Bahnschrift;
    font-size: 40px;
    color: #76191A;
    text-align: center;
}

.f2 {
    font-family: Bahnschrift;
    text-align: center;
    font-size: 20px;
}

.f3 {
    font-family: Bahnschrift;
    text-align: center;
    font-size: 15px;
}

.celular {
    align-items: center;
    height: 350px;
    width: 250px;
}

#celular {
    align-items: center;
}

.baixe {
    padding-bottom: 0px;
}

.google, .apple{
    display: block;
    margin-left: auto;
    margin-right: auto
}