<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
<a class="navbar-brand" href="#">
    <img class="logopizza" src="../assets/Pizzaria.png" width="90" height="90" alt="">
</a>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div routerLinkActive="active" class="navbar-nav">
    <a routerLink="/home" id="home" class="nav-item nav-link">Home</a>
    <a routerLink="/pedidos-online" id="pedido" class="nav-item nav-link">Pedidos Online</a>
    <a routerLink="/lojas" id="precos" class="nav-item nav-link">Lojas</a>
    <a routerLink="/contato" class="nav-item nav-link">Contato</a>
    </div>
</div>

<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link active" href="#"><img src="https://www.iconsdb.com/icons/preview/white/facebook-xxl.png" width="25" height="25" href="https://www.facebook.com.br"></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#"><img class="instagram" src="https://icon-library.net//images/instagram-icon-white-png/instagram-icon-white-png-26.jpg" width="25" height="25" href="https://www.instagram.com.br"></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#"><img class="twitter" src="https://www.iconsdb.com/icons/preview/white/twitter-xxl.png" width="25" height="25" href="https://www.twitter.com.br"></a>
    </li>
</ul>
</nav>