<body class="d-flex flex-column">
  <div id="page-content">
    <div class="container text-center">
      <img class="logo" src="../../../assets/logo footer.png" alt="">
      <p class="lead text-white-50"><i class="fas fa-home"></i>   Avenida fulano de tal, nº 1000. Centro. Petrolina-PE</p>
      <div class="row justify-content-center">  
        <div class="col-md-4">
          <p class="lead text-white-50"><i class="fas fa-envelope"></i> contato@vallepizzza.com.br</p>
        </div>
        <div class="col-md-4">
          <p class="lead text-white-50"><i class="fas fa-phone"></i> (87) 98855-8596              
        </div>
        <div class="col-md-4">        
          <p class="lead text-white-50"> <i class="fas fa-phone"></i> (87) 98865-4536</p>
        </div>
      </div>
    </div>
  </div>
  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Symonn Almeida</small>
    </div>
  </footer>
</body>
