body {
    padding-top: 150px;
    height: 500px;
    align-items: center;
    text-align: center;
    background-image: url(../../assets/banner-monte.jpg);
}

h1, h2 {
    font-family: Bahnschrift;
    color: #76191A;
    text-align: center;
}