<table class="banner">
    <p class="top">TOP 3+ PEDIDOS</p>
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="../../../assets/pizza1.jpg" alt="Imagem de capa do card">
            <div class="card-body">
            <h3 class="card-title">MODA DA CASA</h3>
            <p class="card-text">Presunto, palmito cebola, tomates e azeitonas</p>
        </div>
        <div id="botao">
            <button class="quero1">Eu quero</button>
        </div>    
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/pizza2.jpg" alt="Imagem de capa do card">
            <div class="card-body">
            <h3 class="card-title">LOMBO CANADENSE</h3>
            <p class="card-text">Lombo canadense, queijo muçarela, molho especial, tomates e azeitonas</p>
            </div>
            <div id="botao">
                <button class="quero2">Eu quero</button>
        </div>    
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/pizza3.jpg" alt="Imagem de capa do card">
            <div class="card-body">
            <h3 class="card-title">PARMEGIANNA</h3>
            <p class="card-text">Frango desfiado, queijo muçarela, molho especial, tomates e azeitonas</p>
        </div>
        <div id="botao">
            <button class="quero3">Eu quero</button>
        </div>    
        </div>
    </div>
</table>
